@import "tailwindcss";

@layer utilities {
  /* Hides scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hides scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Custom styled scrollbar (The one used in the code) */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s ease;
  }
  
  .custom-scrollbar:hover,
  .custom-scrollbar:active {
    scrollbar-color: #D2B48C transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  .custom-scrollbar:hover::-webkit-scrollbar-thumb,
  .custom-scrollbar:active::-webkit-scrollbar-thumb {
    background-color: #D2B48C;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #8A9A5B; /* The "Sage" accent color */
  }
}
